registry=https://pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM@Local/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 10/21/2019.
; begin auth token
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM@Local/npm/registry/:username=PPM
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM@Local/npm/registry/:_password=bnJmcjZxNmZrMm5rM3VtY2Via29ybjI3N3lxZmNoemNoeHlueXJtbHA2bHF2cTNtZWtnYQ==
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM@Local/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM@Local/npm/:username=PPM
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM@Local/npm/:_password=bnJmcjZxNmZrMm5rM3VtY2Via29ybjI3N3lxZmNoemNoeHlueXJtbHA2bHF2cTNtZWtnYQ==
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM@Local/npm/:email=npm requires email to be set but doesn't use the value
; end auth token